* {
	margin: 0;
	padding: 0;

}

body {
	background-color: blue;
}

.container {
	width: 60%;
	background-color: white;
	font-size: 0;
	margin: 0 auto;
	margin-top: 30px;
	border: 2px solid white;

	
}

li {
	width: 30%;
	display: inline-block;

	font-size: 14px;
	background-color: green;
	border: 2px solid white;
		box-sizing: border-box;
		padding: 14px;

}


li:hover {
	/*background-color: #fff;*/
	opacity: 0.5;
}

.small {
	width: 25%;
}

.big {
	width: 50%;
}

.verybig {
	width: 100%;
}

.container li a {
	text-align: center;
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 100%;		 			 
	margin: 14px auto;
}

.c123 {
	background-color: #678;
}

.c234 {
	background-color: #234;
}

.c345 {
	background-color: #345;
}
.cf42 {
	background-color: #f42;
}



/*ГитХаб - пароль - qwerty123 Seolena*/

/*Ниже - про гит Хаб*/
/*репозиторий - местро на каждый проект, где будет храниться мой код, условно это папки*/
/*переключение между командами - checkout*/
/*удалённый репозиторий и локальный бывает*/
/*Push - отправка на ветку (отправляется на ту ветку, где работала)*/
/*контрол шифт П - вызов пэкедже контроля и установка плагина Терминал*/
/*как пройти в терминал - пуск, потом набрать cmd, (открыть от админа), потом набрать cd ../  (change directory) - внутри панели (это если не установлен терминал)*/

/*контрол + шифт + альт Т - так открывается терминал - сразу в нужной папке*/
/*Названия папок лучше латинскими буквами делать*/

/*ссылка на репозиторий копируется обязательно в корень*/

/*для того чтобы прописать вручную - находим надиске С, куда прописался Гит, захожу в эту папку и копирую путь к папочке гита*/
/*Скопировали путь кпапке и нажимаем Система - дополнительные параметры*/

/*git status - команда, а потом гит Эдд*/ 
/*git add css слэш звздочка - так зальютсявсе файлы, которые в папке css*/
/*клавишами вверх вниз возращаются уже написанные команды*/

/*git add . - это чтобы добавить абсолютно все сайты */

/*git commit -m "habr menu" - сохраняем изменения с комментом в кавычках*/

 /*git push -u origin master - запушиваем на репозитоории  - теперь все файлы будут доступны*/

/* если уже писали , то заливаем списком этих команд

 git add (git add . - все документы, или же через пробел указать все документы)
 git commit (-m "коммент") - команда фиксирует все изменения на локальном компьютере
 git push*/
 /*Локальный репозиторий - это файлы на нашем компе. Удалённый - на гитхаб*/
 /*Как создаётся ветка ГШ пэджез*/

 /*git Branch gh-pages... - это для создания отдельной ветки. По умолчанию мы работаем в ветке Мастер*/

/*для перехода на новую ветку - 
первая синхронизация - rebase
не первая синхронизация - marge
 git pull - приучать себя работать начиная с этой команды (типа вдруг кто то изменения внёс)

*/

/*Для чего команда check out?*/

/* gh-pages - это название для новой ветки */
/*git branch gh-pages для сощдания новой ветки*/
/*git checkout gh-pages - переключиться на новую нашую ветку */


/*ДЗ: создать два репотория и одно дз задить на один репозиторий, а другой - на другой.*/


/*git pull - команда чтобы получить код когда мы только начинаем работать*/